.commentSection {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .commentSection h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .formInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  
  .status {
    margin-top: 16px;
    font-size: 0.9rem;
    color: #ff0000;
    text-align: center;
  }
  
  .user {
    margin-bottom: 16px;
  }
  
  .comment {
    min-height: 100px;
  }
  