.blog-element {
    max-width: 800px;
    margin: 0 auto;
    background-color: #d25959;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(44, 15, 15, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 12px;
    position: relative;
  }
  
  .blog-img {
    display: flex;
    justify-content: center;
  }
  
  .blog-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2;
    align-self: center;
  }