@media (max-width: 768px) {
  .blog-element {
    padding: 30px;
    font-size: 0.9rem;
    background-color: antiquewhite;
  }
  
  .blog-img img,
  .blog-img > div {
    max-width: 100%;
    height: auto;
  }

  .blog-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #555;
  }

  .blog-date{
    font-size: 0.9em;
    color: #888;
  }
}

