.commentContainer {
    background-color: #ffffff; 
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  .commentUser {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 5px;
  }
  
  .commentContent {
    font-size: 1rem;
    color: #555; 
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .commentTime {
    font-size: 0.85rem;
    color: #888; 
    text-align: right;
    margin-top: 10px;
    font-style: italic;
  }
  